# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
venv/
.env
.env.*
.venv/

env/

# Node
node_modules/
dist/

# Tool caches
.ruff_cache/

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
